<table class="table reservation-table">
    <thead>
        <tr>
            <th scope="col">
                <input type="checkbox">
            </th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Shift</th>
            <th scope="col" (click)="sortBy('quantity')" class="clickable">
                Guest Number
                <span class="reservation-table__sort-icon-box">
                    <img src="assets/icons/sort.png" class="reservation-table__sort-icon" alt="Sort" [hidden]="sortField === 'quantity'">
                    <img src="assets/icons/sort-desc.png" class="reservation-table__sort-icon" alt="Sort" *ngIf="sortField === 'quantity' && desc">
                    <img src="assets/icons/sort-asc.png" class="reservation-table__sort-icon" alt="Sort" *ngIf="sortField === 'quantity' && !desc">
                </span>
            </th>
            <th scope="col" (click)="sortBy('customer.lastName')" class="clickable">
                Guest Name
                <span class="reservation-table__sort-icon-box">
                    <img src="assets/icons/sort.png" class="reservation-table__sort-icon" alt="Sort" [hidden]="sortField === 'customer.lastName'">
                    <img src="assets/icons/sort-desc.png" class="reservation-table__sort-icon" alt="Sort" *ngIf="sortField === 'customer.lastName' && desc">
                    <img src="assets/icons/sort-asc.png" class="reservation-table__sort-icon" alt="Sort" *ngIf="sortField === 'customer.lastName' && !desc">
                </span>
            </th>
            <th scope="col">Area</th>
            <th scope="col">Guest Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations | order:sortField:desc">
            <th scope="row">
                <input type="checkbox">
            </th>
            <td class="capitalized">
                <app-reservation-status-bullet [status]="reservation.status"></app-reservation-status-bullet> {{ reservation.status | lowercase }}</td>
            <td>{{ reservation.businessDate }}</td>
            <td class="capitalized">{{ reservation.start | date:'HH:mm':'utc' }} {{ reservation.shift | lowercase }}</td>
            <td>{{ reservation.quantity }}</td>
            <td>{{ reservation.customer.lastName }}, {{ reservation.customer.firstName}}</td>
            <td class="capitalized">{{ reservation.area | lowercase }}</td>
            <td *ngIf="reservation.guestNotes">{{ reservation.guestNotes }}</td>
            <td *ngIf="!reservation.guestNotes" class="emphasized">No notes</td>
        </tr>
    </tbody>
</table>